.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 8px;

    label {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    input, select {
        width: 100%;
        padding: 10px 15px;
        border: 2px solid #efeeee;
        border-radius: 8px;
        background-color: #ffffff;
        color: #2f9e93;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #2f9e93;
        }
    }
}